body {
	background-color: #e0e0e0;
	margin: 0;
	padding: 0;
}

#page {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-content: stretch;
}

header {
	text-align: center;
	flex-shrink: 1;
}

article {
	flex-grow: 1;
	margin: 5vh;
	margin-top: 0;
	background-color: white;
	overflow: scroll;
	box-shadow: 0 0 8px rgba(0,0,0,0.2);
	border-radius: 5px;
}

h2 {
	text-align: center;
}

#departments table thead td {
	text-align: center;
}

#departments table td.cabinet {
	text-align: right;
}

#departments table td.schedule {
	text-align: center;
	font-size: 0.9em;
}

@media (min-width: 1200px) {
	#departments table td.name {
		width: 25%;
	}

	#departments table td.schedule {
		width: 10%;
	}
}